@import "tailwindcss";

::selection {
  background-color: oklch(0.6962 0.1465 248);
  color: oklch(0.997 0 0);
}

:root {
  --sh-class: oklch(0.719 0.1322 264.2);
  --sh-sign: oklch(0.8561 0.0943 225.87);
  --sh-string: oklch(0.7953 0.1395 130.14);
  --sh-keyword: oklch(0.7515 0.1344 299.5);
  --sh-comment: oklch(0.4955 0.0682 274.37);
  --sh-jsxliterals: oklch(0.719 0.1322 264.2);
  --sh-property: oklch(0.8217 0.0996 182.49);
  --sh-entity: oklch(0.7839 0.1057 75.43);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: oklch(0.6746 0.1624 255.93);
    --sh-identifier: oklch(1 0 0);
    --sh-keyword: oklch(0.7017 0.1642 26.07);
    --sh-string: oklch(0.6414 0.111 184.74);
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
